<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>

    <div class="container-fluid">
        <form class="mx-auto">
            <h4 class="text-center">Login</h4>
            <div class="mb-3 mt-5">
                <label for="email" class="form-label">Usuario</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="tPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="tPassword">
                <div id="emailHelp" class="form-text mt-3">Password Missed?</div>
            </div>
            <button type="submit" class="btn btn-outline-success mt-4">Acceder</button>
        </form>
        
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d34e817139.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
