@model Clinic.WebApp.Models.ClinicaHistorica

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClinicaHistorica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdhistoriaClinica" class="control-label"></label>
                <input asp-for="IdhistoriaClinica" class="form-control" />
                <span asp-validation-for="IdhistoriaClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpaciente" class="control-label"></label>
                <input asp-for="Idpaciente" class="form-control" />
                <span asp-validation-for="Idpaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaApertura" class="control-label"></label>
                <input asp-for="FechaApertura" class="form-control" />
                <span asp-validation-for="FechaApertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
